body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.card-plus {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
}
.card-plus img {
    width: 100%;
    height: auto;
}
